*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 24px;
  background-color: green
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 24px;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  padding: 24px;
  background-color: rgb(255, 213, 0);
  }

  .item-1{background-color: aqua;}
  .item-2{background-color: peru;}
  .item-3{background-color: firebrick;}
  .item-4{background-color: red;}
  .item-5{background-color: rebeccapurple;}
