*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 24px;
  background-color: green;
  font-size: x-large;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-auto-flow: column;
  gap: 24px;
  
  height: 500px;
  width: 500px;
  margin: 0 auto;
  padding: 24px;
  background-color: rgb(255, 213, 0);
  }

  .item-1{background-color: black;
  text-align: center;
font-family: Impact;
padding: 55px;
color: white;}
  .item-2{background-color: peru;
  text-align: center;
font-family: Impact;
padding: 55px;
color: white;}
  .item-3{background-color: firebrick;
  text-align: center;
font-family: Impact;
padding: 55px;
color: white;}
  .item-4{background-color: red;
  text-align: center;
font-family: Impact;
padding: 55px;
color: white;}
  .item-5{background-color: rebeccapurple;
  text-align: center;
font-family: Impact;
padding: 55px;
color: white;}
  .item-6{background-color: royalblue;
  text-align: center;
font-family: Impact;
padding: 55px;
color: white;}